<!doctype html>
<html lang="ru">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | GitLab-WH</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/color-modes.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon.png" />
    {% endblock %}
</head>

<body>
    {% include 'elements/color_modes.html.j2' %}
    {% block content %}{% endblock %}
    {% block body %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/color-modes.js"></script>
    {% endblock %}
</body>

</html>
