{% extends "base.html.j2" %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">
        {% with logo_width='40', logo_height='32' %}
          {% include 'elements/logo.html.j2' %}
        {% endwith %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Репозитории</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Пользователи</a>
        </li>
      </ul>
      <div class="text-end">
        <span class="navbar-text">Фамилия И.О.</span>
        <button class="btn btn-outline-danger ms-2" type="submit">Выйти</button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-3">
{% block page %}{% endblock %}
</div>

{% endblock %}
