{% set error_title = error_title or 'Что-то пошло не так' %}
{% set error_code = error_code or '400' %}
{% set error_message = error_message or 'Попробуйте обновить страницу позже' %}


{% extends "pages/errors/base_error.html.j2" %}
