<link rel="stylesheet" href="/static/css/highlight-atom-one-dark.min.css">
<script src="/static/js/highlight.min.js"></script>
<script src="/static/js/highlight-python.min.js"></script>
<script>hljs.highlightAll();</script>
